@keyframes fade-in { 
    from {
        transform: translateY(-50px);
        opacity: 0;
    }
    to {
        opacity: 100;
    }
}


.PharmacyGrid {
    // max-width: 600px;
    animation: fade-in 0.3s ease;
    height: fit-content;
    grid-area: pharmacy;
}
