@keyframes grow-in {
    from {
        height: 0px;        
    }
}


.pharmacistGrid {
    grid-area: pharmacist;    
    animation: grow-in 0.4s cubic-bezier(.71,0,.33,1.56) ;
    transition: all 300ms ease;    
    height: 175px;    
    overflow: hidden;
    width:100%;    
}

.pharmacist-loading {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-gap: 1rem;
}