@keyframes grow-in {
    from {
        height: 0px;
    }
}

@keyframes slide-in {
    from {
        transform: translateX(-150px);
    }
}


.pharmacy-selection {
    background: linear-gradient(140deg, rgba(98,93,196,1) 0%, rgba(61,107,205,1) 51%, rgba(77,145,203,1) 100%);
    padding: 0.5rem;    
    color: whitesmoke !important;
    border-radius: 0.3rem;
    white-space: nowrap;
    border: 8px ridge whitesmoke;
    grid-area: 'pharmacyCard';
    box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.727);   
    height:fit-content;
    // max-width: 325px;    
    min-width: fit-content;
    width: 100%;
    will-change: height, width;
    overflow: hidden;
    animation: slide-in 0.3s ease;        
}

.css-1qvr50w-MuiTypography-root {
    font-family: 'Inter', sans-serif !important;
    font-weight: 600 !important;
    font-size: 24px !important;
}

