@import '../../styles/animations.scss';


.PharmacyManager {
  transition: 300ms;    
  grid-area: main;
  display: grid;
  will-change: transform;
  min-width: 450px;
  max-width: 1280px;
  max-height: 100% !important;

  @media screen and (min-width: 300px) and (max-width: 750px) {
    grid-template-areas: 
      'pharmacyCard' 'pharmacy'                       
      'order' 'pharmacist';
    grid-template-columns: minmax(300px, 600px);  
    grid-template-rows: 225px 250px minmax(0, 225px) minmax(0, 250px);
    padding: 1rem;
    grid-gap: 0.5rem;
  }

  @media screen and (min-width: 750px) {
    grid-template-areas: 
      'pharmacy pharmacyCard'                       
      'order pharmacist'
      'pharmacistCard pharmacistCard';
    grid-template-columns: minmax(400px, 600px) minmax(325px, 350px);  
    grid-template-rows: 400px 200px 300px;
    padding: 2rem;
    grid-gap: 2rem;
  }
}


.pharmacy-section, .card-section {
  display: flex;
  flex-direction: column;
  grid-gap: 2rem; // Default for .pharmacy-section
}

.card-section {
  grid-gap: 1.5rem;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;

  &:hover {
    filter: drop-shadow(0 0 2em #646cffaa);

    &.react {
      filter: drop-shadow(0 0 2em #61dafbaa);
    }
  }

  @media (prefers-reduced-motion: no-preference) {
    a:nth-of-type(2) & {
      animation: logo-spin infinite 20s linear;
    }
  }
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

h1 {
  font-family: 'Proza Libre', sans-serif;
  font-weight: 800;
}
