$light-blue: #4375D9;
$dark-blue: #2A3A59;
$bright-blue: #1A80D9;
$muted-blue: #4586BF;
$teal-blue: #4AB0D9;

@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

@import './animations.scss';

:root {
  font-family: 'Inter', 'Merriweather', system-ui, Avenir, Helvetica, Arial, sans-serif !important;
  font-weight: 600;
  font-size: 16px;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background: rgb(36,36,36);
  background: linear-gradient(90deg, rgba(36,36,36,1) 0%, rgba(32,49,86,1) 26%, rgba(38,51,81,1) 72%, rgba(36,36,36,1) 100%);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;  
}

#root {
  display: grid;
  grid-template-areas: 'header header' 
                       'sidebar main' 
                       'sidebar footer';  
  grid-template-rows: auto 1fr 50px;  
  grid-template-columns: auto 1fr;
  width: 100%;
  height: 100%;

}



.MuiDataGrid-virtualScroller {
  overflow-x: hidden !important;
  // scrollbar-width: thin !important;
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;  
  background-color: rgb(31, 93, 163);
}

::-webkit-scrollbar-thumb {
  background-color: rgb(193, 233, 255) !important;
}

.MuiDataGrid-columnHeaderTitle {
  font-weight: bolder;
  font-size: 1em;
  font-family: 'Roboto Mono';  
  text-transform: uppercase;
  
}

.MuiCardHeader-root {
  background-color: rgba(2, 32, 85, 0.321);
  
  
  .MuiTypography-root {
    font-weight: 600 !important;  
    font-size: 26px;
    font-family: 'Inter', monospace !important;
  }
}

.MuiDataGrid-columnHeaders {
  background-color: rgba(2, 32, 85, 0.349);  
}


.MuiDataGrid-root {
  font-family: 'Roboto Mono', 'Inter', monospace !important;
  font-size: 13px !important;
  background: linear-gradient(140deg, rgba(98,93,196,1) 0%, rgba(61,107,205,1) 51%, rgba(77,145,203,1) 100%);
  color: whitesmoke !important;            
  box-shadow: 1px 1px 10px rgba(3, 16, 33, 0.363) !important;      
  z-index: 2; 
  white-space: nowrap;   
  border: 4px outset whitesmoke !important;
}

.Mui-selected {
  background-color: rgba(75, 230, 230, 0.367) !important;
  background: linear-gradient(0deg, rgb(152, 149, 209) 0%, rgba(61,107,205,1) 21%,rgba(61,107,205,1) 81% rgba(77,145,203,1) 100%);    
}

// .MuiDataGrid-footerContainer {
//   height: 20px !important;
//   min-height: 40px !important;  
// }

.MuiTablePagination-root {
  color: rgb(11, 39, 100) !important; 
}

.MuiTablePagination-toolbar {
  // min-height: 30px !important;
  height: 20px !important;
  min-height: 20px !important;
  overflow: hidden;
}

// .main-container {
//   display: flex;
//   flex-direction: column;
//   width: 100%;
//   justify-content: center;
//   align-items: center;
// }

*, *::before, *::after {
  box-sizing: border-box;
}



body {
  margin: 0;
  display: flex;
  justify-content: center;
  min-width: 320px;  
  min-height: 100vh;
  height: 100vh;
  max-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
